.App {
  text-align: center;

}

html, body, body > div, .app{
  background-color: rgb(244, 250, 244);
}

h1 {
  display: inline;
  color:rgb(46, 109, 148)

}

.progress {
  justify-content: right;
}

a:link a:visited a {
  color: green
}

.nav-link {
  color: rgb(219, 245, 253);
}

.navItem {
  color: whitesmoke;
}

.Table {
  height: 100px;
  overflow-y: auto;
}
